* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
  padding: 0.5em;
  font-family: "europa";
}

blockquote {
  font-style: italic;
  padding: 5px;
  margin-left: 0;
  padding-left: 5%;
  opacity: 0.85;
}

.heading-link {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
}

.heading-link:focus-visible {
  outline: none;
  background-color: yellow;
}

body {
  font-size: 20px;
  max-width: 850px;
  margin: auto;
  color: #020b19;
  background-color: #fefefe;
}

img {
  width: 100%;
}

pre,
code {
  overflow-x: scroll;
  font-size: 0.9em;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

main,
nav {
  padding: 1em;

  max-width: 95vw;
}

main {
  word-break: break-word;
  word-wrap: break-word;
}

pre,
code {
  border-radius: 1em;
}

nav a {
  margin-right: 2em;
}

main h1:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

.subtitle {
  opacity: 0.8;
  font-size: 1em;
}

p {
  font-size: 1em;
}

nav {
  display: flex;
  gap: 1.5em;
}

nav a {
  text-decoration: none;
  position: relative;
  color: inherit;
}

a {
  color: #2620ff;
  font-weight: bold;
}

nav a::after {
  display: block;
  content: "";
  position: absolute;
  background-color: yellow;
  width: 120%;
  height: 10px;
  display: absolute;
  top: 15px;
  left: -5px;
  z-index: -1;
}

.blurb {
  background-color: #00ebe833;
  padding: 20px;
  border: 1px solid #2fe8e8;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blurb .emoji {
  font-size: 30px;
  padding-right: 15px;
}

.blurb p {
  margin-bottom: 0;
}

.thought {
  background-color: lightyellow;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.thought .emoji {
  font-size: 30px;
  padding-right: 15px;
}

.thought p {
  margin-bottom: 0;
}

.thought h4 {
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #020b19;
    color: white;
  }

  nav a::after {
    background-color: #3e00ad;
  }

  a {
    color: #4cd3ff;
  }
  .heading-link:focus-visible {
    outline: none;
    background-color: #3e00ad;
  }

  .thought {
    background-color: #3c3605;
  }
}
